
.main_dev{
  width: 100%;
  height:100vh;
  background: #6983aa;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
}
.center_div{
  width:25%;
  height:80vh;
  background-color: #f4f4f4;
  padding: 6px 0 2px 0;
  margin-top: 50px;
  margin-left: 100px;
  box-shadow: 5px 5px 15px -px rgba(0, 0, 0, 0.5);
  scroll-behavior: smooth;

}
h1{
  color:white;
  background: transparent;
  background-color: #8666aa;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 5px 5px 15px -px rgba(0, 0, 0, 0.3);
}

input{
  text-align: center;
  height:30px;
  top:10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width:60%;
  border-bottom: 2px solid red;
  outline:none;
}
button{
  min-height: 40px;
  width:90px;
  border-radius: 50%;
  background-color: #8566aa;
  color: white;
  font-size: 40px;
  border:none;
  outline:none;
  margin-left: 30px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);

}
button:hover{
  background-color: green;
}
.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;align-items: center;

}
.todo_style .fa-trash{
  width:20px;
  height:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color:aliceblue
}
.todo_style .fa-trash:hover{
  background-color: red;
}
